<div class="container pt-3">
  <div class="d-flex flex-column border border-info rounded">
    <table class="table b-0">
      <thead>
        <tr class="table-info">
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Fecha de Atención</th>
        </tr>
      </thead>
      <tr *ngIf="historiaService.historias.length == 0">
        <td class="text-center" colspan="3">
          Sin atenciones registradas
        </td>
      </tr>
      <tr *ngFor="let historia of historiaService.historias">
        <td>{{historia.nombre}}</td>
        <td>{{historia.apellido}}</td>
        <td>{{historia.fechaAtencion}}</td>
      </tr>
    </table>  
  </div>
</div>