<div class="container pt-3">
  <div class="d-flex flex-column border border-info rounded">
    <div class="d-flex justify-content-center">      
      <div class="d-flex flex-column p-3">
        <strong>Nombre</strong>
        <span>Primer nombre</span>
      </div>
      <div class="d-flex flex-column p-3">
        <strong>Apellido</strong>
        <span>Primer nombre</span>
      </div>
      <div class="d-flex flex-column p-3">
        <strong class="text-nowrap">Fecha de Atención</strong>
        <span>Atencion</span>
      </div>
    </div>
  </div>
</div>