<div class="container">
	<div class="card">
		<img src="" class="card-img-top logo">
		<form class="card-body" [formGroup]="frmLogin">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Email"
        formControlName="correo" name="correo" autofocus>
				<div class="text-danger" *ngIf="frmLogin.get('correo').touched">
					<span *ngIf="frmLogin.get('correo').hasError('required')">
            * Se requiere un correo
          </span>
					<span *ngIf="frmLogin.get('correo').hasError('email')">
            * El formato debe ser de correo
          </span>
				</div>
			</div>
			<div class="form-group">
				<input type="password" class="form-control" placeholder="Contraseña"
        formControlName="contrasena" name="contrasena">
				<span class="text-danger" *ngIf="frmLogin.get('contrasena').hasError('required') && frmLogin.get('contrasena').touched">
            * Se requiere una contraseña
          </span>
			</div>
			<div class="d-flex justify-content-center">
				<button type="button" class="btn btn-primary" [disabled]="frmLogin.invalid" (click)="irHome()">Ingresar</button>
			</div>
			<div *ngIf="!loginSuccess">
				<span class="text-danger d-flex justify-content-center">
            Usuario y/o contraseña no válidos
          </span>
			</div>
		</form>
	</div>
</div>