
<div class="container">
    <div class="row justify-content-center-pt4">
        <form class="col-6" [formGroup]="grupo" (ngSubmit)="registrar()">
            <div class="form-group">

                <input type="text" class="form-control" formControlName="nombre" name="nombre" 
                placeholder="nombre">
                <span *ngIf="grupo.get('nombre').hasError('required') && grupo.get('nombre').touched">
                    El nombre es obligatorio</span>

            </div>
            <div class="form-group">
                <input type="text" class="form-control" formControlName="correo" name="correo" placeholder="correo">
                <span *ngIf="grupo.get('correo').hasError('required') && grupo.get('correo').touched">
                        El correo es obligatorio</span>

                        <span *ngIf="grupo.get('correo').hasError('correogratuito') && grupo.get('correo').touched">
                            No se aceptan correos gratuitos</span>
                            <span *ngIf="grupo.get('correo').hasError('noCorreoEmpresarial') && grupo.get('correo').touched">Solo correos de area51.pe</span>

            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="contrasena"   formControlName="contrasena" placeholder="password">
                <span *ngIf="grupo.get('contrasena').hasError('required') && grupo.get('contrasena').touched">
                        La contraseña es obligatorio</span>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" formControlName="confirmacion" name="confirmacion" placeholder="confirmacion de password">
                <span *ngIf="grupo.get('confirmacion').hasError('required') && grupo.get('confirmacion').touched">
                        La confirmacion de contraseña es obligatorio</span>
            </div>

            <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-success">Registrar</button>
                    <button type="button" class="btn btn-warning" (click)="cargardata()">
                        Cargar Data</button>
                        <button type="button" class="btn btn-warning" (click)="cargardataparcial()">
                                Cargar Data Parcial</button>
            </div>
        </form>
    </div>

</div>